body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.896);
  color: rgb(74, 231, 245);
}

.container {
  border: none;
  border-radius: 15px;
  background-color: rgba(173, 194, 194, 0.268);
  height: auto;
  width: 35vw;
  box-shadow: 0 0 10px rgba(237, 158, 93, 0.5);
  padding-bottom: 20px;
}

.header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 10px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.AddTask {
  display: flex;
  justify-content: space-evenly;
}

.AddTask input {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

.AddTask button {
  padding: 6px;
  width: 20%;
  border-radius: 5px;
  background-color: rgb(74, 231, 245);
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

li button {
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(74, 231, 245);
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: rgb(26, 171, 101);
  color: black;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(231, 40, 40, 0.5);
}

ol {
  padding: 10px;
}

li {
  font-size: large;
  display: flex;
  padding: 6px;
  justify-content: space-around;
  border: 1px solid rgb(191, 236, 44);
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  align-items: center;
}

#Todo-text {
  width: 170px;
  color: rgb(242, 255, 0);
}
